<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="../static/css/loading.css" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,500,700,900&display=swap" rel="stylesheet"> -->
  <title>game</title>
</head>

<body>

<iframe class="background" src="./home_svg.html" frameborder="0"></iframe>
<header>
  <div><a href="home.html" class="home" id="home">TEAM Alan</a></div>
  <div><button onclick="location.href='create_page.html'">Send a Message</button></div>
</header>

  <div id='console'>
    <div id='water_box'></div>
    <div id='hook'>
      <div id='hook_hitbox'></div>
    </div>
    <svg id="svgContainer" style="width:320px; height:480px;">
      <line id="start_line" x1="259" y1="0" x2="259" y2="225" style="stroke:rgba(255,255,255,.5);stroke-width:2;" />
    </svg>
    <div id='start_btn'>
      Slide back and forth<br>to catch the fish.
      <h3>Drop Line</h3>
    </div>
    <div id='score'>
      <span>0</span>/20
    </div>
  </div>
  <script src="../static/js/loading.js"></script>
</body>

</html>