<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>write</title>
    <link rel="stylesheet" href="../static/writecss.css">
</head>

<body>
  <form action='#' id="letterSend">
    <textarea>하고 싶은 말들을 입력해주세요!</textarea><br>
    <button type="submit" form="letterSend">Send</button>
  </form>
<!-- <div class="wrapper">

    <div class="left">
      <h1>Team Alan</h1>
      <br>
      <h2>description</h2>
      <br>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>

    <div class="center">
        <div class="background">
    <form action='#'>
        <textarea>하고 싶은 말들을 입력해주세요!</textarea><br>
    </form>
    </div>
    </div>

    <div class="right">
        <h1>SOUND</h1>
        <br>
        <ul>
            <li><label>Wave</label></li>
            <svg class="icon icon-play2"><use xlink:href="#icon-play2"></use>
                <symbol id="icon-play2" viewBox="0 0 32 32">
                    <path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13zM12 9l12 7-12 7z"></path>
                </symbol>
            </svg>
            <input class="my-slider" type="range" min="0" max="100" step="1" value="0">


                <li><label>Wind</label></li>
                <svg class="icon icon-play2"><use xlink:href="#icon-play2"></use>
                    <symbol id="icon-play2" viewBox="0 0 32 32">
                        <path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13zM12 9l12 7-12 7z"></path>
                    </symbol>
                </svg>
                <input class="my-slider" type="range" min="0" max="100" step="1" value="0">

                        <li><label>Bird</label></li>
                        <svg class="icon icon-play2"><use xlink:href="#icon-play2"></use>
                            <symbol id="icon-play2" viewBox="0 0 32 32">
                                <path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13zM12 9l12 7-12 7z"></path>
                            </symbol>
                        </svg>
                        <input class="my-slider" type="range" min="0" max="100" step="1" value="0">
        </ul>
    </div>
</div> -->
</body>
</html>